<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/editJSON.css">
    <script defer src="../js/editJSON.js"></script>
    <title>JSON Editor</title>

</head>

<body>
    <h1 id="name">JSON Editor</h1>
    <a href="../dashboard"><button id="return">Zurück</button></a>
    <p id="description">Hier können Sie JSON-Objekte erstellen, die Sie dann in der App verwenden können.</p>
    <br>
    <input type="file" id="fileInput" accept=".json">
    <button onclick="loadJson()">JSON hochladen</button>

    <div>
        <label for="positionnote">Positionshinweis:</label>
        <input type="text" id="positionnote">
    </div>

    <div>
        <label for="question">Frage:</label>
        <input type="text" id="question">
    </div>

    <div>
        <label for="latitude">Breitengrad:</label>
        <input type="number" id="latitude">
    </div>

    <div>
        <label for="longitude">Längengrad:</label>
        <input type="number" id="longitude">
    </div>

    <div>
        <label for="answerType">Antworttyp:</label>
        <select id="answerType" onchange="changeAnswerType(this.value);">
            <option value="text">Text</option>
            <option value="number">Zahl</option>
            <option value="date">Datum</option>
            <option value="time">Uhrzeit</option>
            <option value="datetime-local">Datum und Uhrzeit</option>
        </select>
    </div>

    <div>
        <label for="answers">Antworten (durch Kommas getrennt: nur Text):</label>
        <input type="text" id="answers">
    </div>

    <div>
        <label for="radiusMeters">Radius in Metern:</label>
        <input type="number" id="radiusMeters">
    </div>

    <button onclick="addToJsonArray()">Hinzufügen</button>
    <p id="errorText" class="error-text"></p>

    <div id="jsonList">
        <!-- Hier werden die JSON-Boxen angezeigt -->
    </div>

    <details>
        <summary>JSON-Output:</summary>
        <pre id="jsonOutput"></pre>
    </details>

    <button onclick="downloadJson()">JSON herunterladen</button>
    <br><br><br><br><br><br><br>

    <pre id="json-data"><%= jsonData %></pre>
</body>
<footer>
    <%- include('partials/footer'); %>
</footer>

</html>