<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../js/suche.js"></script>
    <link rel="stylesheet" href="../style/suche.css">
    <link rel="stylesheet" href="../style/index.css">
    <title>Schatzsuche</title>
</head>

<body>
    <div id="header">
        <h1>Schatzsuche</h1>
    </div>

    <div id="image">
        <img src="pfad_zum_bild.jpg" alt="Bild der Schatzsuche">
    </div>

    <div id="question">
        <p>Hier ist deine Frage:</p>
        <p id="questionPromt"></p>
    </div>

    <div id="answer-input">
        <label for="answer">Antwort eingeben:</label>
        <div id="input">

        </div>
        <div id="result">
            <p id="message"></p>
        </div>
        <div id="button">
            <button onclick="checkAnswer()">Antwort überprüfen</button>
        </div>
    </div>

    <pre id="json-data"><%= jsonData %></pre>
    
</body>

</html>